# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.ServiceAnnotations.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Dennis\Projects\mine\ServiceAnnotations\.idea\.idea.ServiceAnnotations\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
